/* demo only */

#login_modal .content {
    width: 450px;
    /* width: 100%; */
    height: auto;
    margin: auto;
    padding: 20px;
}

#login_modal .nav-pills {
    width: 450px;
}

#login_modal .nav-item {
    width: 50%;
}

#login_modal .nav-pills .nav-link {
    font-weight: bold;
    padding-top: 13px;
    text-align: center;
    background: #343436;
    color: #fff;
    border-radius: 30px;
    height: 100px;
}

#login_modal .nav-pills .nav-link.active {
    background: #fff;
    color: #000;
}

#login_modal .tab-content {
    position: absolute;
    width: 450px;
    height: auto;
    margin-top: -50px;
    background: #fff;
    color: #000;
    border-radius: 30px;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin-bottom: 50px;
    border: unset !important;
    outline: unset !important;
}

#login_modal .tab-content button {
    /* border-radius: 15px; */
    width: 100px;
    padding: auto 10px;
    margin: 0 auto;
}

#login_modal .container .row .col-md-6 {
    padding: 0;
    margin: 0;
}

#login_modal .fb,
#login_modal .google,
#login_modal .twitter {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif !important;
}

.fb {
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

.google,
.fb,
.twitter {
    opacity: 1;
}


/* error msg */

.form_error span {
    width: 80%;
    height: 35px;
    margin: 3px 10%;
    font-size: 1.1em;
    color: #D83D5A;
}

.form_error input {
    border: 1px solid #D83D5A;
}

@media (max-width:320px) {
    .modal-body {
        padding: unset !important;
    }
    #login_modal .content {
        width: 320px !important;
        margin-top: 40px;
        margin-left: auto;
        height: auto;
        padding: unset !important;
    }
    .modal-dialog {
        margin: unset !important;
        pointer-events: none;
    }
}

@media (min-width:0px) and (max-width:575px) {
    .modal-body {
        padding: unset !important;
    }
    #login_modal .content {
        width: 320px !important;
        margin-top: 40px;
        height: auto;
    }
    #login_modal .content {
        width: 320px !important;
        height: auto;
        margin-left: auto;
        padding: unset !important;
    }
    #login_modal .nav-pills {
        width: 320px !important;
    }
    #login_modal .nav-item {
        width: 50% !important;
    }
    #login_modal .tab-content {
        position: absolute;
        width: 320px !important;
        height: auto;
        margin-top: -50px;
        background: #fff;
        color: #000;
        border-radius: 30px;
        z-index: 1000;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
        padding: 30px;
        margin-bottom: 50px;
    }
}