@import "../static_css/global_import.css";
*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rokkitt', serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: #192231;
}

h1 {
    font-family: 'Audiowide', cursive;
    text-align: center;
}

main {
    perspective: 100rem;
}

.zoom-content {
    transform-style: preserve-3d;
    transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.active .zoom-content {
    transform: translate3d(0, 0, -4rem);
    -webkit-transform: translate3d(0, 0, -4rem);
    -moz-transform: translate3d(0, 0, -4rem);
    -ms-transform: translate3d(0, 0, -4rem);
    -o-transform: translate3d(0, 0, -4rem);
}

/* Body Contents*/

.card {
    background: #131c29;
}

.card-title {
    background: #192231;
}
/* pending events */

/* event status */

.event_first_heading-2 {
    margin-top: 6rem;
}

.card {
    margin-top: 2rem;
}