@import "../static_css/global_import.css";
*, html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Rokkitt', serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

h1 {
    font-family: 'Audiowide', cursive;
}

main {
    perspective: 100rem;
}

.zoom-content {
    transform-style: preserve-3d;
    transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.active .zoom-content {
    transform: translate3d(0, 0, -4rem);
    -webkit-transform: translate3d(0, 0, -4rem);
    -moz-transform: translate3d(0, 0, -4rem);
    -ms-transform: translate3d(0, 0, -4rem);
    -o-transform: translate3d(0, 0, -4rem);
}

/* page heading */
.dashboard_heading {
    margin-top: 3rem;
}


.heading {
    border-bottom: 1px solid honeydew;
}

/* Logo and Banner */

.logo_banner {
    position: relative;
    box-shadow: inset 0px 0px 5px black;
}

.logo_banner .col-sm-6 {
    overflow: hidden;
}

.logo_banner h2 {
    color: white;
    text-align: center;
}

.logo_banner .logo_img, .logo_banner .banner_img {
    height: 300px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    transition: all 1s ease;
}

.logo_banner .logo img {
    box-shadow: 0px 1px 32px black !important;
    height: 100%;
    width: 60%;
    margin: auto;
    display: block;
}

.logo_banner .banner img {
    box-shadow: 0px 1px 32px black !important;
    height: 100%;
    width: 100%;
}

.setting {
    width: 100%;
    justify-content: space-evenly;
    color: white;
}

/* 3rd section */

.third-section .event_info {
    display: flex;
    flex-flow: column;
}

.edit_page {
    background: #333;
    position: fixed;
    right: 0;
    margin-right: 10px;
    border-radius: 7px;
}

.event_info>div {
    display: flex;
    border-bottom: 1px solid honeydew;
    text-align: left;
    padding: 20px 0;
}

.info8, .info9 {
    border-bottom: unset !important;
}

.head1 {
    padding: 15px 60px;
    font-size: 40px !important;
    font-weight: 100;
    width: 40%;
}

.body1 {
    width: calc(100% - 40%);
    padding: 15px 50px 40px 100px;
    font-size: 26px;
}

.body1 table {
    width: 100%;
}

@media (max-width: 768px) {
    .event_info>div {
        flex-flow: column;
    }
    .head1 {
        font-size: 30px;
        padding: 10px 60px 5px 60px;
        width: 100%;
    }
    .body1 {
        width: 100%;
        font-size: 18px;
        padding: 10px 50px 40px 70px;
    }
}