html,
body {
    min-height: 100%;
}

body,
div,
form,
select,
textarea,
label {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 22px;
}

input {
    color: #000;
}

h1 {
    position: absolute;
    margin: 0;
    font-size: 40px;
    color: #fff;
    z-index: 2;
    line-height: 83px;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px #cc7a00;
}

.banner {
    position: relative;
    height: 300px;
    background-image: url("../images/ff1.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
}

input,
select,
textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}

input[type="date"] {
    padding: 4px 5px;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.item {
    position: relative;
    margin: 10px 0;
}

.item span {
    color: red;
}

.item i {
    right: 1%;
    top: 30px;
    z-index: 1;
}

.question span {
    margin-left: 30px;
}

.question-answer label {
    display: block;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #cc7a00;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #ff9800;
}

@media (min-width: 568px) {
    .name-item,
    .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .name-item input,
    .name-item div {
        width: calc(50% - 20px);
    }
    .name-item div input {
        width: 97%;
    }
    .name-item div label {
        display: block;
        padding-bottom: 5px;
    }
}